@font-face {
    font-family: "Black Signature";
    src: url("../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
    font-family: "Changa One";
    src: url("../fonts/ChangaOne-Regular.ttf");
}
@font-face {
    
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container120{
    max-width: 1200px;
    width: 100vw;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-logo{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
}

.block-logo p{
    font-size: 15.7px;
    font-family: "Black Signature";
    color: rgba(62, 62, 62, 1);
    line-height: 28.26px;
    font-weight: 400;
}

.block-logo span{
    font-family: "Changa One";
    font-size: 26.69px;
    color: rgba(138, 83, 255, 1);
    line-height: 28.26px;
    font-weight: 400;
}

.navbar {
    display: flex;  
    max-width: 457px;
    width: 100vw;  
}

.block-link{
    font-size: 12.56px;
    font-family: "Roboto";
    color: rgba(73, 83, 103, 1);
    display: flex;
    max-width: 359px;
    width: 100vw;
    line-height: 14.92px;
    font-weight: 400;
}

.block-link ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.block-link li{
    list-style-type: none;
    align-content: center;
    cursor: pointer;
}

.block-link p{
    color: rgba(138, 83, 255, 1);
    text-decoration: none;
}
.block-link a{
    font-size: 12.56px;
    font-family: "Roboto";
    color: rgba(73, 83, 103, 1);
    line-height: 14.92px;
    text-decoration: none;

}

.block-img {
    display: flex;
    align-items: center;
}

.block-img img{
    margin-left: 18px;
    cursor: pointer;
}

.block-img hr{
    width: 1px;
    height: 24px;
    background-color: #EEEEEE;
    border: none;
    margin-left: 20px;
}

.registration-background{
    background: url(../images/Share\ your\ travels\ section\ background\ image.svg);
    background-size: cover;
    height: 901.18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration{
    width: 657px;
    height: 758px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-header{
    max-width: 617px;
    width: 100vw;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-subtext{
    font-size: 18px;
    font-family: 'Roboto';
    color: rgba(138, 83, 255, 1);
    line-height: 21.09px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-title{
    font-size: 39px;
    font-family: 'Changa One';
    color: rgba(67, 67, 67, 1);
    line-height: 40px;
    font-weight: 400;
}

.form{
    background-color: rgba(255, 255, 255, 1);
    max-width: 617px;
    width: 100vw;
    height: 612px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-text{
    max-width: 557px;
    width: 100vw;
    height: 110px;
    display: flex;
    flex-direction: column;
}

.travels{
    height: 36px;
    font-size: 24px;
    font-family: 'Changa One';
    line-height: 36px;
    color: rgba(67, 67, 67, 1);
    font-weight: 400;
}

.about-travels{
    height: 68px;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Roboto';
    color: rgba(67, 67, 67, 1);
    font-weight: 400;
}

.form-fields{
    max-width: 557px;
    width: 100vw;
    height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-fields input{
    max-width: 557px;
    width: 100vw;
    height: 56px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Roboto';
}

.form-fields div input{
    max-width: 557px;
    width: 100vw;
    height: 102px;
    border-radius: 4px;
}

.registration button{
    width: 222px;
    height: 46px;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    font-family: 'Roboto';
    background-color: rgba(138, 83, 255, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer{
    max-width: 1440px;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-info{
    max-width: 920px;
    width: 100vw;
    height: 16px;
}

.copyright-info span{
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(147, 158, 180, 1);
}

.footer-links{
    max-width: 280px;
    width: 100vw;
    height: 16px;
}

.footer-links ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-links li{
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(147, 158, 180, 1);
    list-style-type: none;
    cursor: pointer;
}

.footer-links li a{
    font-size: 14px;
    line-height: 16.41px;
    font-family: 'Roboto';
    color: rgba(147, 158, 180, 1);
    text-decoration: none;
}
