.hero-section {
  height: 580px;
  width: 100%;
  background: url(../images/hero\ background\ image.svg);
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.text {
  width: 540px;
  height: 580px;
  margin: 40px, 120px, 40px, 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.call-action {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.story {
  width: 165.17px;
  height: 46px;
  font-size: 12.56px;
  font-weight: 400;
  font-family: "Roboto";
  align-content: center;
  background-color: rgba(138, 83, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 3.14px;
  cursor: pointer;
}

.highlights {
  width: 170.63px;
  height: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: none;
  font-family: "Roboto";
  color: rgba(67, 67, 67, 1);
  cursor: pointer;
}

.headline {
  font-size: 73px;
  line-height: 84px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}

.headline span {
  color: rgba(138, 83, 255, 1);
}

.main-text {
  width: 505px;
  height: 72px;
  line-height: 28.26px;
  font-weight: 400;
  font-size: 22px;
  font-family: "Roboto";
  color: rgba(67, 67, 67, 1);
}

.recommended {
  height: 552px;
  display: flex;
}

.recommended-content {
  width: 100vw;
  margin: 107px 0;
  display: flex;
  align-items: center;
}

.img-container {
  width: 455.34px;
  height: 265.35px;
}

.peopl-img {
  width: 423.94px;
  height: 265.35px;
}

.video-description {
  width: 455.34px;
  height: 230.77px;
  padding: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.copywriting {
  width: 520px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.copywriting-pre-title {
  height: 21px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.01px;
  font-family: "Roboto";
  color: rgba(138, 83, 255, 1);
  text-transform: uppercase;
}

.copywriting-headline {
  height: 36px;
  font-size: 39px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}

.copywriting-main-text {
  height: 99px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgba(67, 67, 67, 1);
}

.video-description a {
  text-decoration: none;
}

.watch {
  width: 126.77px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: none;
  color: rgba(138, 83, 255, 1);
  cursor: pointer;
}

.watch img {
  padding-right: 12px;
}

.world {
  height: 621px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table-of-contents {
  max-width: 1202px;
  width: 100vw;
  height: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-table {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 700;
  font-family: "Roboto";
  color: rgba(138, 83, 255, 1);
  text-transform: uppercase;
}
.discover-table {
  font-size: 39px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}
.cards {
  max-width: 1202px;
  width: 100vw;
  height: 410px;
  display: flex;
  justify-content: space-between;
}

.place {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}

.discover {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  color: rgba(138, 83, 255, 1);
}

.recent-stories {
  height: 748.11px;
  display: flex;
  flex-direction: column;
}

.recent-stories-titles {
  max-width: 1200px;
  width: 100vw;
  height: 76px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stories-subtext {
  height: 21px;
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 700;
  font-family: "Roboto";
  color: rgba(138, 83, 255, 1);
  text-transform: uppercase;
}

.stories-title {
  height: 40px;
  font-size: 39px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}

.story-block {
  max-width: 1200px;
  width: 100vw;
  height: 476.11px;
  display: flex;
  flex-direction: row;
}

.stories-left {
  max-width: 600px;
  width: 100vw;
  height: 476.11px;
  padding: 0 20px;
}

.story-big-card {
  max-width: 560px;
  width: 100vw;
  height: 476.11px;
}

.big-story-img {
  width: 560px;
  height: 358.11px;
}

.big-story-body {
  max-width: 560px;
  width: 100vw;
  height: 118px;
}

.big-story-items {
  max-width: 512px;
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-story-text {
  max-width: 435.13px;
  width: 100vw;
  height: 90px;
  display: flex;
  flex-direction: column;
}

.title-of-main-story {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}

.description-of-main-story {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgba(87, 96, 116, 1);
}

.big-story-items button {
  width: 48.87px;
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
}

.stories-right {
  max-width: 600px;
  width: 100vw;
  height: 476px;
}

.story-card {
  max-width: 600px;
  width: 100vw;
  height: 148px;
  display: flex;
  flex-direction: row;
}

.story-text {
  max-width: 358px;
  width: 100vw;
  height: 128px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.city-country {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Changa One";
  color: rgba(67, 67, 67, 1);
}

.destination-of-city {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Roboto";
  color: rgba(87, 96, 116, 1);
}

.destination-of-city span {
  color: rgba(138, 83, 255, 1);
}
